ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
 .accordion {
 	width: 100%;
 	max-width: 360px;
 	padding-left: 5px;
 	padding-right: 5px;
 	margin: 0px auto 20px;
 	background: #428bca;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 	position: fixed;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 8px 8px 8px 42px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li span {
	position: absolute;
	top: 8px;
	left: 12px;
	font-size: 18px;
	color: #FFFFFF;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li span.glyphicon-chevron-down{
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li span.glyphicon-chevron-right{
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #ccc;
}

.accordion li.open span {
	color: #ccc;
}
.accordion li.open span.glyphicon-chevron-down{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**-----------------------------
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 4px;
 	padding-left: 12px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }

/*=============================
panel 样式
==============================*/
.panel-heading{
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	font-size: 18px;
	font-family: Roboto Mono,Monaco,courier,monospace;
}
.panel-body{
	font-size: 14px;
	font-family: Roboto Mono,Monaco,courier,monospace;

}